* {
    box-sizing: border-box;
    margin: 0;
}

.directory-header {
    font-size: 30px;
}

.customer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    border-radius: 100% 250%;
}

.customer-name {
    font-size: 20px;
    font-weight: bold;
}

.email {
    font-size: 80%;
}

.location {
    font-size: 80%;
    font-weight: bold;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dob {
    font-size: 80%;
    font-weight: bold;
}

.membership {
    font-size: 80%;
    font-weight: bold;
}